﻿@model List<Flower>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}



<div class="row">
    @foreach (var flower in Model)
    {

        DateTime currentDate = DateTime.Now;
        DateTime modelDate = flower.StoreDate;

        bool isWithin7Days = (currentDate - modelDate).TotalDays < 7;

        <div class="col col-md-3">
            <div class="text-center position-relative mb-3 py-3 border">
                @if(isWithin7Days){
                    <div class="bg-success px-3 py-1 rounded-pill position-absolute text-white fw-bold" style="left:20px; top:20px">New</div>
                }else if (flower.SalePrice != 0 && flower.SalePrice != flower.Price && flower.SalePrice != null)
                {
                    <div class="bg-warning px-3 py-1 rounded-pill position-absolute text-white fw-bold" style="left:20px; top:20px">SALE</div>
                }
                <img src="@flower.Image" class="img-fluid">
                <p>@flower.FlowerName</p>
                @if (flower.SalePrice != 0 && flower.SalePrice != flower.Price && flower.SalePrice != null)
                {
                    <div class="d-flex justify-content-evenly">
                        <p class="text-danger fw-bold h4">$@flower.SalePrice</p>
                        <p class="text-muted"><s>$@flower.Price</s></p>
                    </div>

                }
                else
                {
                    <div class="d-flex justify-content-evenly">
                        <p class="text-danger fw-bold h4">$@flower.Price</p>
                    </div>
                }
                <a asp-controller="Customer" asp-action="AddToCart" class="btn btn-danger rounded-pill">
                    <i class="fa-solid fa-cart-shopping"></i> Add to Cart
                </a>
            </div>
        </div>
    }

</div>

