﻿@model Flower

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Flower</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="FlowerName" class="p-0"></label>
            <input asp-for="FlowerName" class="form-control" />
            <span asp-validation-for="FlowerName" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Description" class="p-0"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Color" class="p-0"></label>
            <input asp-for="Color" class="form-control" />
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Image" class="p-0"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="CategoryId" class="p-0"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.Category" class="form-select">
                <option disabled selected>--Select Category---</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Price" class="p-0"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="StoreDate" class="p-0"></label>
            <input asp-for="StoreDate" class="form-control" />
            <span asp-validation-for="StoreDate" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="StoreInventory" class="p-0"></label>
            <input asp-for="StoreInventory" class="form-control" />
            <span asp-validation-for="StoreInventory" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Flower" asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
