﻿@model List<Flower>

<h1>Flower List</h1>
<table class="table table-bordered">
    <tr>
        <th>
            Flower Name
        </th>
        <th>
            Category
        </th>
        <th>
            Description
        </th>
        <th>
            Color
        </th>
        <th>
            Image
        </th>
        <th>
            Price
        </th>
        <th>
            Sale Price
        </th>
        <th>
            Store Date
        </th>
        <th>
            Store Inventory
        </th>
        <th></th>
    </tr>
    @foreach (var obj in Model)
    {
        <tr>
            <td>@obj.FlowerName</td>
            <td>@obj.Category.CategoryName</td>
            <td>@obj.Description</td>
            <td>@obj.Color</td>
            <td>@obj.Image</td>
            <td>@obj.Price</td>
            <td>@obj.SalePrice</td>
            <td>@obj.StoreDate.ToShortDateString()</td>
            <td>@obj.StoreInventory</td>
            <td style="width:20%">
                <div>
                    <a asp-controller="Flower" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Edit</a>
                    <form class="d-inline" method="post" asp-controller="Flower" asp-action="Delete" asp-route-id="@obj.Id">
                        <input type="submit" class="btn btn-danger mx-2" value="Detele" />
                    </form>
                </div>
            </td>
        </tr>
    }
</table>
<a asp-controller="Flower" asp-action="Create" class="btn btn-primary">Add Flower</a>