﻿@model List<Category>

<h1>Category List</h1>
<table class="table table-bordered">
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Display Order
        </th>
        <td>Notes</td>
        <th></th>
    </tr>
    @foreach (var obj in Model)
    {
        <tr>
            <td>@obj.CategoryName</td>
            <td>@obj.Order</td>
            <td>@obj.Notes</td>
            <td style="width:20%">
                <div>
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Edit</a>
                    <form class="d-inline" method="post" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">
                        <input type="submit" class="btn btn-danger mx-2" value="Detele"/>
                    </form>
                </div>
            </td>
        </tr>
    }
</table>
<a asp-controller="Category" asp-action="Create" class="btn btn-primary">Add Category</a>