﻿<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Sale Off</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Category</label>
            <select id="categoryDropdown" name="categoryId" asp-items="ViewBag.Category" class="form-select">
                <option disabled selected>--Select Class---</option>
            </select>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Flower</label>
            <select id="flowerDropdown" name="flowerId" class="form-select">
            </select>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Sale Off(percent)</label>
            <input type="number" step="0.1" name="saleOff" required/>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
<script>
    $(document).ready(function () {
        $('#categoryDropdown').change(function () {
            var categoryId = $(this).val();
            $.ajax({
                url: '/Saleoff/OnGetGetProducts',
                type: 'GET',
                data: { categoryId: categoryId },
                success: function (data) {
                    $('#flowerDropdown').empty();
                    $('#flowerDropdown').append($('<option>').text('-- Select Flower --').attr('value', ''));
                    $.each(data, function (index, item) {
                        $('#flowerDropdown').append($('<option>').text(item.text).attr('value', item.value));
                    });
                }
            });
        });
    });
</script>


